.communication {
  padding: 50px 15px;
  @include for-large-up {
    padding: 110px 130px 110px 126px;
  }
}
.content {
  @include for-large-up {
    display: flex;
    flex-direction: row;
  }

  &__inside {
    @include for-large-up {
      margin-top: 13px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: $text-color-light-blue;
  }

  &__title {
    margin: 0;
    margin-top: 17px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    color: $color-black;
    margin-bottom: 0;
    @include for-large-up {
      margin-top: 24px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: $color-black;
    margin-top: 18px;
    margin-bottom: 0;
    @include for-large-up {
      margin-top: 30px;
      margin-right: 193px;
    }
  }

  &__button {
    margin-top: 30px;
    @include for-large-up {
      margin-top: 39px;
      margin-bottom: 87px;
    }
  }

  &__decoration {
    margin: 0;
    margin-top: 40px;
    @include for-large-up {
      margin-right: 63px;
    }
  }

  &__image {
    margin-top: 58px;
    width: 100%;
    @include for-large-up {
      margin: 0;
      min-width: 425px;
    }
  }

  &__image-caption {
    margin-top: 17px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: $text-color-light-grey;
  }

  &__line {
    border: 0.5px solid $color-black;
    width: 30%;
    opacity: 0.1;
    margin-top: 40px;
    @include for-large-up {
      margin-top: 26px;
    }
  }

  &__details {
    @include for-large-up {
      display: flex;
      flex-direction: row;
      margin-top: 41px;
    }
  }

  &__detail {
    @include for-large-up {
      margin-right: 30px;
    }
  }
  &__detail:first-child {
    @include for-large-up {
      margin-left: 0px;
    }
  }

  &__detail-text {
    font-size: 18px;
    line-height: 26px;
    color: $color-black;
  }

  &__detail-link {
    color: $background-color-blue;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
}
