.customers {
  display: flex;
  flex-direction: column;

  @include for-large-up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:30px;
    padding-bottom: 106px;
    flex-direction: row;
  }

  &__row {
    display: flex;
    @include for-large-up {
      flex: 1;
      justify-content: space-around;
      margin-left: 130px;
    }
  }

  &__row:last-child {
    @include for-large-up {
      margin-right: 130px;
      margin-left:0;
    } 
  }

  &__item {
    height: 94px;
    min-width: 107px;
    border-bottom: 1px solid $border-color-grey;
    border-right: 1px solid $border-color-grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    &:last-child {
      border-right: none;
    }

    @include for-large-up {
      border: none;
    }
  }

  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }
}


