.hire {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include for-large-up {
    padding: 101px 325px 105px 325px;
  }

  &__introduction-info {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;

    @include for-large-up {
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      letter-spacing: -0.5px;
    }
  }

  &__introduction-present {
    margin: 0;
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    width: 100%;

    @include for-large-up {
      margin-top: 20px;
      max-width: 555px;
    }
  }

  &__action-btn {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 39px;

    @include for-large-up {
      margin-top: 28px;
      max-width: 247px;
    }
  }
  &__contacts {
    margin-top: 39px;

    @include for-large-up {
      margin-top: 110px;
      width: 100%;
    }
  }

  &__info {
    margin-top: 15px;
    height: 140px;
    width: 100%;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
    text-decoration: none;
    display: flex;

    @include for-large-up {
      margin: 0;
      margin-bottom: 20px;
      height: 81px;
    }
  }

  &__info:first-child {
    margin-top: 0;

    @include for-large-up {
    }
  }

  &__info:hover {
    background-color: $background-color-dark-blue;
    cursor: pointer;
    color: $color-white;
  }

  &__info:hover &__position {
    color: $color-white;
  }

  &__info:hover &__location {
    color: $color-white;
  }
  &__info:hover &__check {
    background-color: $background-color-dark-blue;
  }

  &__info:hover &__right-arrow {
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png);
  }

  &__details {
    width: 100%;

    @include for-large-up {
      display: flex;
      align-items: center;
    }
  }

  &__position {
    margin: 19px 21px 7px 20px;
    height: 69px;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: $color-black;

    @include for-large-up {
      margin: 0;
      margin-left: 25px;
      height: 29px;
      width: 408px;
    }
  }
  &__location {
    margin-left: 20px;
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.6;
    color: $color-black;

    @include for-large-up {
      margin: 0;
    }
  }

  &__check {
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    background-color: $background-color-light-grey;

    @include for-large-up {
      background-color: $color-white;
    }
  }
  &__right-arrow {
    margin: 68px 22px 64px 21px;
    background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png");
    width: 7px;
    height: 12px;
    display: inline-block;
  }
}
