$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-light-blue: #0189d1;
$text-color-orange: #f1592b;

$border-color-grey: #e3e3e3;
$border-color-blue: #3040c4;
$border-color-light-blue: #0189d1;

$box-shadow-color-grey: #0000001a;
$box-shadow-color-light-grey: #0000000d;
$box-shadow-color-white: #ffffff1a;

$color-blue: #3040c4;
$color-white: #fff;
$color-black: #2b292d;
$color-light-grey: #f4f5f7;

$background-color-beige: #f3c6bd;
$background-color-grey: #f4f5f7;
$background-color-blue: #3040c4;
$background-color-dark-blue: #3141c5;
$background-color-light-beige: #fcf0e366;
$background-color-light-blue: #00a1c612;
$background-color-light-grey: #d5d4d5;
$background-color-light-grey: #f4f5f7;
