$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-white: #fff;
$text-color-light-blue: #0189d1;
$text-color-orange:#f1592b;

$border-color-grey: #e3e3e3;

$color-black:#2b292d;
$color-light-grey: #F4F5F7;

$background-color-beige:#f3c6bd;
$background-color-grey: #F4F5F7;
$background-color-blue: #3040c4;
$background-color-light-beige:#FCF0E366;